:not(html) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #DCE1EA;
    min-height: 110vh;
}
.header {
    width: 100%;
    height: 82px;
    padding: 0 55px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;    
    background: #e71919;
}
.title {
    color: #F6C502;
    text-shadow: 
    0px 2px 0 #0067B0,
    0px -2px 0 #0067B0,
    2px 0px 0 #0067B0,
    -2px 0px 0 #0067B0;
}
.pokeList {
    width: 100%;
    min-height: 200px;
    padding: 135px 15px 25px 35px;
    color: #FFF;
    
    display: flex;
    flex-direction: column;
}
.pokeList .search {
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.pokeList .search span {
    
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    color: #F6C502;
    font-weight: bold;
}

.pokeList .search-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4ac74a;
}
.pokeList .search-input {
    margin-top: 7px;
    width: 100%;
    max-width: 400px;
    height: 40px;

    padding: 5px 20px;    
    border: 2px solid #0067B0;

    perspective: 1000;
}
.pokeCard {
    width: 100%;
    max-width: 1000px;
    height: 80px;
    background-color: #FFF;
    margin: 0 auto 20px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    transform-origin: 0%;
    transform-style: preserve-3d;
    /* opacity: 1;
    transition: opacity 1s ease; */
}
.hidden {
    display: none;
}

.animationCard {
    animation: fromDownforUp 1s ease;
    opacity: 1;
}

@keyframes fromDownforUp {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }

    100% {
        opacity: 1;    
        transform: rotateX(0deg);
    }
}

.pokeCard .name {
    color: inherit;
}

.pokeCard .type-container {
    display: flex;
}

.pokeCard .type {
    width: 80px;
    margin-left: 5px;
    text-align: center;
    padding: 7px 15px;
    border-radius: 30px;
    color: #fff;
}


@media (max-width: 450px) {
    .pokeCard {
        justify-content: space-between;
    }
    .pokeCard .type-container {
        width: 100px;    
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .pokeCard .type {
        width: 60px;
        margin: 0;
        font-size: .8rem;
        padding: 4px 0px;
    }
}